@charset "UTF-8";
@import "./reset.css";

:root {
	--main-bg-color: #1e598c; 
}

html { 
	font-size: 20px; 
	text-align: center;
	scroll-behavior: smooth;
} 	

body {
	font-family: "Maven Pro", "Noto Sans KR", sans-serif;
	color: #666;
	font-weight: 400px;
	line-height: 1.5;
	letter-spacing: 0px;	
}

.flex {
	display: flex;
	justify-content: center;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mt50 {
	margin-top: 50px;
}

.ml20 {
	margin-left: 20px
}

/* sidebar */

#sidebar {
	width: 300px;
	position: fixed;
    left: 100%;
    height: 100%;
    transition: all 0.5s;
    background-color: #0052a0;
    z-index: 999;
    color: #fff;
    text-align: left;
}

#sidebar-close {
	position: absolute;
	top: 50%;
	left: -12%;
	border: 4px solid #fff;
    border-radius: 70%;
}

#sidebar-div1 {
	font-size: 50px;
}

#sidebar-div2 {
	width: 200px;
	display: flex;
    flex-direction: column;
}

#sidebar-div2 p:first-child {
	font-size: 30px;
}

/* header */

header{
	display: flex;
	justify-content: center;
	background-image: url(../images/visual_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#header {
	width: 1190px;
	height: 800px;
}

#header-top {
	margin-top: 30px;
	height: 70px;
}

#logo {
	float: left;
}

#menu {
	float: right;
}

#header-bottom {
	display: flex;
	justify-content: center;
	height: 700px;
	align-items: center;
}

/* system */

#system-article {
	background-image: url(../images/system_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#system {
	width: 1190px;
	height: 600px;
}


#system-head{
	font-size: 30px;
	font-weight: 500;
	color: var(--main-bg-color);
}

#system-ehead{
	width: 280px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background-color: var(--main-bg-color);
}

#system-imgdiv {
	height: 445px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.system-imgdiv {
	height: 300px;
}

.system-img {
	width: 300px;
    height: 300px;
    border-radius: 70%;
    transition: all 0.5s;
}

.system-img-hover {
	display: none;
	position: relative;
	top: -191px;
	transition: all 0.5s;
	color: #fff;
	font-size: 18px;
}

/* product */

#product {
	width: 1190px;
    height: 750px;
}

#product-head {
	font-size: 30px;
	font-weight: 500;
	color: var(--main-bg-color);
}

#product-phrases {
	font-size: 36px;
	font-weight: 700;
	color: #000;
}

#product-phrases span {
	color: #ed480e;
}


#product-popupdiv {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,.3); 
	z-index:9999;	
}

.product-popup {
	background-color: #fff; 
	display: none;
	justify-content: space-evenly;
	position: absolute;
    width: 1190px;
    height: 442px;
    left: 50%;
    top: 50%;
    margin-left: -500px;
    margin-top: -221px;
}

.product-popup-img {
	height: 442px;
}

.product-popup-table {
	height: 180px;
    width: 250px;
    margin: auto 0;
}

.product-popup-close {
	margin-top: 20px;
	height: 50px;
}



#product-imgdiv {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#product-carousel {
	display: flex;
	width: 800px;
	height: 442px;
	overflow: hidden;
}

.product-carousel-div {
	transition: all 0.3s;
	align-items: center;
}

.product-carousel-img {
	width: 500px;
	height: 300px;
	transition: all 0.3s;
}

.product-carousel-divp {
	width: 300px;
	text-align: left;
}

.product-carousel-divp p {
	font-size: 15px;
	padding: 10px;
}

#product-button {
	padding: 10px 25px;
	color: #000;
	font-size: 16px;
	border: 1px solid #000;
	border-radius: 30px;
	transition: all 0.3s;
}

#product-button:hover {
	color: #fff;
	background-color: #000;
}

/* company */

#company-article {
	height: 382px;
	background-image: url(../images/company_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#company-img {
	position: absolute;
	right: 0.5px;
}

#company {
	display: flex;
	align-items: center;
	width: 1190px;
    height: 382px;
    margin: 0 auto;
}

#company-head {
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	color: #193f5c;	
}

#company-phrases {
	text-align: left;
	font-size: 30px;
	font-weight: 500;
	color: #193f5c;	
}

.fw500 {
	font-weight: 300;
}

/* call */

#call {
	width: 1190px;;
	height: 60px;
	display: flex;
	justify-content: space-between;
}

#call-div {
	width: 180px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

/* footer */

#footer {
	width: 1190px;
}

#footer-info {
	color: #666666;
	font-size: 13px;
}

#footer-copyright {
	color: #999999;
	font-size: 11px;
}

